body {
    font-family: Arial, serif;
    font-size: 11pt;
}

div.header {
    padding: 0.5em;
    align-items: center;
}

a {
    color: silver;
}

a[href] {
    color: cadetblue;
}

a[href]:hover {
    text-decoration: underline;
}

q {
    font-style: italic;
    font-size: larger;
    color: grey;
}

pre {
    background-color: #fafaf7;
    border: 1px dashed #e1e1d2;
    padding: 1em;
    box-shadow: #dedede 3pt 3pt 3pt;
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    border-radius: 5px;
}

pre:before {
}
pre:before {
    content: 'Source code';
}
div.demo:before {
    content: 'Output';
}
pre:before, div.demo:before {
    background-color: #eaeae7;
    display: block;
    padding: 1em;
    padding-bottom: 0.6em;
    margin: -1em;
    margin-bottom: 1em;
}

div.demo {
    border: 1px solid #e1e1d2;
    box-shadow: #dedede 3pt 3pt 3pt;
    border-radius: 5px;
    padding: 1em;
}

div.header {
    background-color: #f6f6f6;
}

.menu {
    display: inline-block;
    margin-right: 1em;
    /* padding: 0.3em; */
    font-weight: bold;
    font-family: monospace;
}

.menu, .trio-ui-menu {
    white-space: nowrap;
}

.menu:hover {
    background-color: white;
}

div.popup {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    padding: 0.5em;
    width: fit-content;
}
.trio-ui-popup {
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    padding: 0.5em;
}
/*
a.menu {
    border-radius: 4px;
    border: 1px solid silver;
}
*/
